.sidebarWrapper {
  background-color: #54595F;
  margin-top: 15px;
  width: 20%;
  min-height: 100vh;
}

.nav ul {
    list-style: none;
    margin-left: 50px;
    margin-top: 15px;
    padding-top: 15px;
    font-size: 20px;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.active {
  font-weight: bold;
}

.item a:hover {
  color: #6EC1E4;
}

.friendBlock {
  display: flex;
  margin: 0 15px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.friendTitle {
  color: white;
  font-size: 34px;
  margin-top: 100px;
  text-align: center;
}

.friendItem {
  text-align: center;
  color: white;
  text-decoration: none;
  margin-top: 15px;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}